[submodule "kirby"]
	path = kirby
	url = https://github.com/getkirby/kirby.git
[submodule "panel"]
	path = panel
	url = https://github.com/getkirby/panel.git
[submodule "site/plugins/krb"]
	path = site/plugins/krb
	url = https://github.com/eXpl0it3r/kirby-krb.git
[submodule "content"]
	path = content
	url = https://github.com/eXpl0it3r/sfmlprojects-content.git
