# System files
# ------------

Icon
.DS_Store
.vs/

# Temporary files
# ---------------

/www/media/*
!/www/media/index.html

# Composer files
# --------------

/www/kirby/*
/www/kirby/site/plugins/*
/www/vendor/*

# node_modules files
# ------------------

/node_modules/*

# Generated asset files
# ---------------------

/www/assets/*

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/www/site/cache/*
!/www/site/cache/index.html

# Accounts
# ---------------

/www/site/accounts/*
!/www/site/accounts/index.html

# Sessions
# ---------------

/www/site/sessions/*
!/www/site/sessions/index.html

# Config
#----------------
/www/site/config/config.php

# License
# ---------------
/www/site/config/.license
