# System files
# ------------

Icon
.DS_Store

# IDE
# ----
.idea/*
.vscode/*

# Temporary files
# ---------------

/thumbs/*
!/thumbs/index.html

/site/cache/*
!/site/cache/index.html

/assets/css/*.min.css
/assets/css/*.min.css.version
/assets/javascript/*.min.js
/assets/javascript/*.min.js.version

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Kirby accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html
/site/config/*
!/site/config/index.html

# Avatars
# ---------------

/assets/avatars/*
!/assets/avatars/index.html